.header {
  background-color: rgb(50, 167, 145);
  display: flex;
}

#btn-login {
  display: flex;

}

.trybewarts-login {
  display: flex;

}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;

}

#trybewarts-forms-logo{
  height: 500px;
  display: flex;
  align-content: flex-end;

}