* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 16px;

}

body {
  font-family: Helvetica, sans-serif;
  background-size: cover;
  color: black;
  display: grid;
  place-items: center;

}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
  width: 100px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

footer {
  background-color: rgb(50, 167, 145);
}

.textarea {
  width: 100px;
}

#btn-login {
  display: flex;
}

#radio-family {
  display: flex;
  flex-direction: column;
}
